NEXT_PUBLIC_MONAD_CHAIN_ID=10143
NEXT_PUBLIC_MONAD_RPC_URL=https://testnet-rpc.monad.xyz
NEXT_PUBLIC_MONAD_WS_URL=wss://testnet-rpc.monad.xyz
NEXT_PUBLIC_MONAD_EXPLORER_URL=https://testnet.monadvision.com
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_DEMO_WALLET=0x83000000000000000000000000000000000009A2
NEXT_PUBLIC_VAULT_ADDRESS=
NEXT_PUBLIC_USDC_ADDRESS=
NEXT_PUBLIC_TRADING_ACCOUNT_ADDRESS=
NEXT_PUBLIC_RISK_CONTROLLER_ADDRESS=
NEXT_PUBLIC_BTC_MARKET=0x0000000000000000000000000000000000000b7c
NEXT_PUBLIC_ETH_MARKET=0x0000000000000000000000000000000000000e7c
